{#Extend our base template#}
{% extends '::admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
<link href="{{ asset('styles/admin.css') }}" rel="stylesheet"/>

{% endblock %}


{% block content %}


<div id="admin-form" class="col-lg-12 main">
  <h1 class="page-header">Company Administration</h1>
  <ul id="menu">
    <li>Administration Module</li>
    <li><a href="/companyLocations"> Locations</a></li>
    <li><a href="/companyVehicles"> Vehicles</a></li>
    <li><a href="/employees"> Employees</a></li>
  </ul>

  <div class="container">

    <div class="row">
      <div class="well col-md-4">
        <hr />
        <h2><span class="label label-primary"><i class="fa fa-location-arrow fa-fw"></i>  Locations&nbsp;&nbsp;</span></h2>
        <hr />
        <p>
          Add/Update core company locations for On Site Lube. This is the company locations
          where our employees work and our vehicles and inventory are located. The locations
          can also have addresses defined.
        </p>
        <p><a class="btn btn-default" href="/companyLocations" role="button">Go Now! &raquo;</a></p>
      </div>

      <div class="well col-md-4">
        <hr />
        <h2><span class="label label-default"><i class="fa fa-compass fa=fw"></i>  Vehicles&nbsp;&nbsp;&nbsp;&nbsp;</span></h2>
          <hr />
        <p>
          Add/Update company vehicles. This is the On Site Lube company vehicles that employees
          use for service appointments. The location of the selected vehicle will be defined
          in this area as well.
        </p>
        <p><a class="btn btn-default" href="/companyVehicles" role="button">Go Now! &raquo;</a></p>
      </div>

      <div class=" well col-md-4">
        <hr />
        <h2><span class="label label-success"><i class="fa fa-user fa-fw"></i>  Employees</span></h2>
        <hr />
        <p>
          Add/Update On Site Lube employee details here. This is the area the employee identifier, location,
          and which vehicles the employee is assigned are managed. This area can also have addresses defined.
        </p>
        <p><a class="btn btn-default" href="/employees" role="button">Go Now! &raquo;</a></p>

      </div>
    </div>

    <hr/>
    <br/><br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/>
  </div> <!-- /container -->
  <br/> <br/>

{% endblock %}


{# use parent js and any page specific #}
{% block javascripts %}
  {{ parent() }}

<script language="javascript">

  $(document).ready(function ($e) {

  });

</script>

{% endblock %}






